rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ユーザーは自分自身のデータ（users/{userId}配下の全ドキュメント）のみ
    // 読み書きできるというルール
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
